# MySQL .env variables
# Credentials to establish a connection to a given DB
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=efes_db
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Docker ports
DOCKER_PORT_MYSQL=3306
DOCKER_PORT_PHP=8080
DOCKER_PORT_PMA=8081
