# PostgreSQL .env variables
# Credentials to establish a connection to a given DB
POSTGRES_HOST=postgres 
POSTGRES_PORT=5432
POSTGRES_DB=efes-db
POSTGRES_USER=
POSTGRES_PASSWORD= 

# MongoDB 
MONGO_URI=mongodb://mongo:27017/efes-db

# Container ports (what is exposed to the host machine)
DOCKER_PORT_FRONTEND=4200
DOCKER_PORT_BACKEND=3000
DOCKER_PORT_POSTGRES=5432
DOCKER_PORT_MONGO=27017

# Backend configuration
CORS_ORIGIN=http://localhost:4200
API_PORT=3000